
.btn {
    font-size: 20px;
    border-radius: 4px;
    padding: 8px;
}
#btn-send {
    width: 60%;
    margin-bottom: 30px;
    background-color:rgb(76, 192, 173);
    border: 1px solid rgb(76, 192, 173);
    color: rgba(255, 255, 255, 0.685);
}
#btn-send:hover{
    color: rgb(76, 192, 173);
    background-color: rgba(255, 255, 255, 0.685);
}